/* CSS BROWSER RESET
------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: arial; vertical-align: baseline; }

/* remember to define focus styles! */
body.bodyStyle { margin: 5px; margin-top: 0px; background: transparent; }
ol, ul { list-style: none; }

/* Default style for controls input ,select */
input, select { display: block; width: 99; height: 24px; padding: 2px 4px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
select { background-image: none; }
#ccType { display: none; }
#PaymentTypeCC { margin-bottom: 10px; }
input:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); }

input.button { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
#btnPayment { color: #FFF; background-color: #428BCA; border-color: #357EBD; padding: 0px 12px; }
#btnCancel { padding: 0px 12px; border: 1px solid #ccc; }

fieldset li, fieldset p { font-size: 14px; }
.subsection-header { border-bottom: dotted 1px #ccc; font-size: 14px; font-weight: bold; margin-bottom: 15px; padding-bottom: 5px; margin-top: 15px; display: block; }

.PLImage { clear: both; float: right; margin-top: -10px; }
#totalAmount { display: none; }

/* To control total size width of the form*/
.divMain { position: relative; background: transparent; width:100%; }
.divMain input.button { position: relative; top: auto; left: auto; margin-right: 0px; }
.divMain div.error { background: none repeat scroll 0 0 #FFE3E2; border: 1px solid #D84646; margin-bottom: 10px; padding: 5px; width:100% }
.divMain div.error div { line-height: 1.4; }
.divMain div.error li { height: auto; padding-left: 10px; }
.divMain fieldset { margin: 0 20px; }
.divMain label { font-size: 14px; }

/* To control the size and position of all fields */
.divMain ol { position: relative;  }
.divMain li { position: relative; height: 4.0em; }
.divMain li input, .divMain li select { position: static; top: -3px; left: 140px; width: 100%; display:block; }
.divMain span.pointout { color: #007000; font-size: 19px; margin-bottom: 24px; position: absolute; }

.fieldLayout li#CVV { z-index: 4000; }
.fieldLayout li#CVV a { position: static; top: 0; left: 14em; display: block; width: 16px; height: 16px; text-indent: -9999px; z-index: 8000; display:block; }
.fieldLayout li#CVV a:link, li#cv2 a:visited, li#cv2 a:active { text-decoration: none; color: #000; }
.fieldLayout li#CVV a span { display: none; position: absolute; background: #FFF; text-indent: 0; top: 28px; left: -120px; z-index: 9000; width: 220px; border: #CCC solid 1px; padding: 12px; font-size: 11px; line-height: 1.4; }
.fieldLayout li#CVV a span img { display: block; }
.fieldLayout li#CVV a:hover span { cursor: default; display: block; color: #000; }

.fieldLayout li#process { display:block; float:right; }
.fieldLayout li#Cancel { display:block; float:left; }